<footer class="footer bg-primary py-3 mt-auto">
    <div class="container d-flex justify-content-center text-light">
        <div class="px-4 display-7">
            <a class="btn btn-primary" href="https://mail.google.com/mail/u/0/#inbox?compose=new">kekanaitumeleng7@gmail.com</a> 
        </div>
        <div class="px-4">
            <a class="btn btn-primary" href="https://github.com/ItumelengKekana" target="_blank"">GitHub</a>
        </div>
        <div class="px-4">
            <a class="btn btn-primary" href="https://www.linkedin.com/in/itumeleng-kekana-31b3321a3/" target="_blank">LinkedIn</a>
        </div>
    </div>
</footer>