<ul class="nav justify-content-center float-md-end fixed-top">
    <div>
        <h3 class="pe-5">Itumeleng Kekana</h3>
    </div>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/portfolio">About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/portfolio/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/portfolio/education">CV</a>
    </li>
</ul>