<nav class="navbar navbar-dark navbar-expand-md bg-primary fixed-top">
    <div class="container-fluid">
    <a href="#" class="navbar-brand">ITUMELENG KEKANA</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link active text-light" aria-current="page" href="/portfolio">About Me</a>
          <a class="nav-link text-light" href="/portfolio/projects">Projects</a>
          <a class="nav-link text-light" href="/portfolio/education">Education</a>
          <a class="nav-link ms-auto disabled text-light" href="">Software Developer</a>
    </div>
    </div>
</nav>