body{
    background-color: #bbe6e7;
    font-family: 'Titillium', sans-serif;
}

.card{
    background-color: transparent;
}


.navbar.scrolled{
    background-color: rgb(57, 125, 228);
    transition: background 0.2s;
}

#mainNavbar .nav-link{
    font-weight: 100;
}

#mainNavbar .nav-link:hover{
    color: #372bdf;
}

