.nav-link{
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active{
    color: whitesmoke;
    border-bottom-color: whitesmoke;
}
