<%- layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/nav.css">
<link rel="stylesheet" href="/stylesheets/home.css">

<div class="row h-100">
    <div class="col-md-12 my-auto text-center display-2 fw-bold">
        <span class="display-1 fw-bold">404</span> <br>
        Sorry, we could not find that page <br>
        :(
    </div>
    <div class="container text-center">
        <a class="btn btn-dark" href="/portfolio">Back Home</a>
    </div>
</div>
