<%- layout('layouts/boilerplate') %> 

<section class="container-fluid py-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="display-2 text-center py-3">Education</h2>
          <div class="card" style="width: 100%;">
          <img src="https://capricornreview.co.za/wp-content/uploads/sites/71/2015/11/color_logo_lanscpe1.jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">This card contains my High School and University transcripts</p>
            <a href="https://1drv.ms/b/s!AuQTSqLVbxs7iAXALV-OFNqCZTnL?e=2OB2gf" class="btn btn-primary d-inline" target="_blank">High School</a>
            <a href="https://1drv.ms/b/s!AuQTSqLVbxs72UOc0yyTmh1vZZSQ?e=d7FauT" class="btn btn-primary d-inline" target="_blank">University</a>
          </div>
          </div>
      </div>
      <div class="col-md-6">
        <h2 class="display-2 text-center py-3">CV</h2>
        <div class="card" style="width: 100%; height: 78.3%">
          <div class="card-body text-center float-end">
            <h5 class="card-title display-3">Curriculum Vitae</h5>
            <p class="card-text py-3">This card contains my curriculum vitae</p>
            <a href="https://1drv.ms/b/s!AuQTSqLVbxs72UT4asZ7xs15AokM?e=BiqzGm" class="btn btn-primary py-2" target="_blank">CV</a>
          </div>
          </div>
      </div>
    </div>
</section>