<%- layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/nav.css">
<link rel="stylesheet" href="/stylesheets/home.css">

<div class="container-fluid mt-5 d-flex pt-3">
<div class="row">
  <div class="col-md-6" data-aos="fade-up">
    <h3 class="mt-2 fw-bold">Summary</h3>
    <div class="pb-0">
      <h4>Itumeleng Kekana</h4>
      <p><em>I enjoy web development and working with frameworks such as React and Nodejs for back-end. Interested in devising a better problem-solving method for challenging tasks, and learning new technologies and tools if the need arises.</em></p>
      <ul>
        <li>Centurion, Pretoria</li>
        <li>061 435 9295</li>
        <li>kekanaitumeleng7@gmail.com</li>
      </ul>
    </div>

    <h3 class="fw-bold">Education</h3>
    <div>
      <h4>National Diploma Information Technology</h4>
      <h5>2017 - 2021</h5>
      <p><em>Tshwane University of Technology, Pretoria</em></p>
      <p>Majored in information systems and had coursework that included database management systems, technical programming, communication networks and project management</p>
    </div>
    <h3 class="fw-bold">Technical Summary</h3>
    <div class="row">
      <div class="col-md-6">
      <ul>
        <li>JavaScript</li>
        <li>Express</li>
        <li>Git</li>
        <li>MongoDB</li>
        <li>Bootstrap</li>
        <li>NodeJS</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>C++</li>
        <li>SQL</li>
        <li>PL/SQL</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
    </div>
  </div>
  <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
    <h3 class="mt-3 fw-bold">Projects</h3>
    <div class='mt-3'>
      <h4>Yelp Camp</h4>
      <p>
        A full-stack app that let's users discover campgrounds all around the world  that have been reviewed by others. Users also have the ability to create their own campgrounds.
      </p>
    </div>
    <div class='mt-3'>
      <h4>Movie-inator</h4>
      <p>
        A small React app using the omdb API to<br/>search for movies and series from the IMDB database
      </p>
    </div>
    <div class='mt-3'>
      <h4>Wiki Seeker</h4>
      <p>
        A small React app using the Wikipedia API to search the wikipedia site
      </p>
    </div>
    
  </div>
</div>
</div>