<%- layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/nav.css">
<link rel="stylesheet" href="/stylesheets/home.css">

<div class="row h-100">
  <div class="col-md-12 my-auto">
    <h1 class="text-center pt-5">About Me</h1>
    <p class="lead px-3 text-center d-flex justify-content-center align-items-center flex-column">
      I am currently in my final semester of software development and my current aim is to obtain an internship where I can broaden my knowledge in IT and improve upon my current skills to eventually earn a permanent position. I enjoy web development and working with frameworks such as React and and Nodejs for back-end. Interested in devising a better problem-solving method for challenging tasks, and learning new technologies and tools if the need arises.
    </p>

    <div class="container-fluid text-center">
      <a class="btn btn-dark btn-md" href="https://github.com/ItumelengKekana" target="_blank" rel="no-referer">Github</a>
      <a class="btn btn-dark btn-md" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" rel="no-referer">Email</a>
      <a class="btn btn-dark btn-md" href="https://www.linkedin.com/in/itumeleng-kekana-31b3321a3/" target="_blank" rel="no-referer">LinkedIn</a>
    </div>
  </div>
</div>

