<%- layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/nav.css">
<link rel="stylesheet" href="/stylesheets/home.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div class="row h-100">
  <div class="col-md-12 my-auto">
    <h1 class="text-center pt-5 fw-bold">About Me</h1>
    <p class="lead px-3 text-center">
      I am currently in my final semester of software development and my current aim is to obtain an internship where I can broaden my knowledge in IT and improve upon my current skills to eventually earn a permanent position. I enjoy web development and working with frameworks such as React and and Nodejs for back-end. Interested in devising a better problem-solving method for challenging tasks, and learning new technologies and tools if the need arises.
    </p>

    <div class="container-fluid text-center">
      <a class="btn btn-dark btn-md" href="https://github.com/ItumelengKekana" target="_blank" rel="no-referer"><i class="bi bi-github"></i> Github</a>
      <a class="btn btn-dark btn-md" href="mailto:kekanaitumeleng7@gmail.com" target="_blank" rel="no-referer"><i class="bi bi-envelope"></i> Email</a>
      <a class="btn btn-dark btn-md" href="https://www.linkedin.com/in/itumeleng-kekana-31b3321a3/" target="_blank" rel="no-referer"><i class="bi bi-linkedin"></i> LinkedIn</a>
      <a class="btn btn-dark btn-md" href="tel:0614359295" target="_blank" rel="no-referer"><i class="bi bi-telephone"></i> Phone</a>
    </div>
  </div>
</div>

