<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/nav.css" />
<link rel="stylesheet" href="/stylesheets/home.css" />

<div class="container-fluid py-5">
  <h2 class="display-2 text-center py-2">Skills</h2>
  <div class="row">
    <div class="col-md-6 mt-3">
      <ul class="list-unstyled skill-list">
        <li class="text-center">C++</li>
        <li class="text-center">SQL</li>
        <li class="text-center">PL/SQL</li>
        <li class="text-center">HTML</li>
        <li class="text-center">CSS</li>
        <li class="text-center">NodeJS</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled skill-list pt-3">
        <li class="text-center">JavaScript</li>
        <li class="text-center">Express</li>
        <li class="text-center">Git</li>
        <li class="text-center">MongoDb</li>
        <li class="text-center">Bootstrap</li>
      </ul>
    </div>
  </div>
  <h2 class="display-2 text-center py-2">Projects</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <h3 class="">Photo Blog</h3>
        <a
          href="https://itumelengkekana.github.io/photo-blog/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/photo-blog"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h3 class="">Pricing Panel</h3>
        <a
          href="https://itumelengkekana.github.io/pricing-panel/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/pricing-panel"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h3 class="">Candy Museum</h3>
        <a
          href="https://itumelengkekana.github.io/candy-museum/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/candy-museum"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 pt-4">
      <div class="text-center">
        <h3 class="">Yelp Camp</h3>
        <a
          href="https://intense-thicket-68814.herokuapp.com/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/yelp-camp"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
  </div>
</div>
