<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/nav.css" />
<link rel="stylesheet" href="/stylesheets/home.css" />

<div class="container-fluid py-5 proj">
	<h2 class="display-2 text-center py-2 fw-bold">Skills</h2>
	<div class="row">
		<div class="col-md-6 mt-3">
			<ul class="list-unstyled skill-list">
				<li class="text-center">Typescript</li>
				<li class="text-center">Postgresql</li>
				<li class="text-center">HTML</li>
				<li class="text-center">Material UI</li>
				<li class="text-center">NodeJS</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="list-unstyled skill-list pt-3">
				<li class="text-center">JavaScript</li>
				<li class="text-center">Express</li>
				<li class="text-center">Git</li>
				<li class="text-center">Graphql</li>
				<li class="text-center">Bootstrap</li>
			</ul>
		</div>
	</div>
	<h2 class="display-2 text-center py-2 fw-bold">Projects</h2>
	<div class="row crd">
		<div class="col-md-4 pt-4">
			<div class="card bg-dark text-center">
				<img
					src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628607773/portfolio/Screenshot_2021-08-10_at_17-00-41_Itumeleng_s_Portfolio_cbogkq.png"
					class="card-img-top"
					alt=""
					id="portfolio-img"
				/>
				<div class="card-body">
					<h3 class="card-title">Portfolio</h3>
					<p class="card-text">
						I made this portfolio using my knowledge of Javascript
						and Node
					</p>
					<a
						href="https://github.com/ItumelengKekana/ItumelengKekana.github.io"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>Code</a
					>
				</div>
			</div>
		</div>
		<div class="col-md-4 pt-4">
			<div class="card text-center bg-dark">
				<img
					src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628606116/portfolio/price-screen_qhregr.png"
					class=" card-img-top"
					alt=""
				/>
				<div class="card-body">
					<h3 class="card-title">Pricing Panel</h3>
					<p class="card-text">
						A pricing panel commonly found on subscription pages.<br />I
						made this while learning about CSS transitions and
						psuedo classes
					</p>
					<a
						href="https://soft-salamander-7fefcc.netlify.app/"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>View</a
					>
					<a
						href="https://github.com/ItumelengKekana/pricing-panel"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>Code</a
					>
				</div>
			</div>
		</div>
		<div class="col-md-4 pt-4">
			<div class="card text-center bg-dark">
				<img
					src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628606118/portfolio/candy-screen_ncp6b5.png"
					class="card-img-top"
					alt=""
				/>
				<div class="card-body">
					<h3 class="card-title">Candy Museum</h3>
					<p class="card-text">
						A static HTML page I used to explore flex box<br />and
						how to style a navbar in CSS
					</p>
					<a
						href="https://stirring-custard-7f3e66.netlify.app/"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>View</a
					>
					<a
						href="https://github.com/ItumelengKekana/candy-museum"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>Code</a
					>
				</div>
			</div>
		</div>
	</div>
	<div class="row crd">
		<div class="col-md-4 pt-4">
			<div class="card bg-dark text-center">
				<img
					src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628606124/portfolio/yelpcamp-home-screen_vxzkxv.png"
					class="card-img-top"
					alt=""
				/>
				<div class="card-body">
					<h3 class="card-title">Yelp Camp</h3>
					<p class="card-text">
						A full-stack app using Node and express to search<br />for
						campgrounds around the world and create your own
					</p>
					<a
						href="https://intense-thicket-68814.herokuapp.com/"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>View</a
					>
					<a
						href="https://github.com/ItumelengKekana/yelp-camp"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>Code</a
					>
				</div>
			</div>
		</div>
		<div class="col-md-4 pt-4">
			<div class="card bg-dark text-center">
				<img
					src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628606121/portfolio/movieinator-screen_rxezsd.png"
					alt=""
				/>
				<div class="card-body">
					<h3 class="card-title">Movie-inator</h3>
					<p>
						A small React app using the omdb API to<br />search for
						movies and series from the IMDB database
					</p>
					<a
						href="https://voluble-moonbeam-8a6ce9.netlify.app/"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>View</a
					>
					<a
						href="https://github.com/ItumelengKekana/movie-find"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>Code</a
					>
				</div>
			</div>
		</div>
		<div class="col-md-4 pt-4">
			<div class="card bg-dark text-center">
				<img
					src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628606116/portfolio/wiki-screen_uthabn.png"
					class="card-img-top"
					alt=""
				/>
				<div class="card-body">
					<h3 class="card-title">Wiki Seeker</h3>
					<p class="card-text">
						A small React app using the Wikipedia API to search the
						wikipedia site
					</p>
					<a
						href="https://wonderful-babka-f926ca.netlify.app/"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>View</a
					>
					<a
						href="https://github.com/ItumelengKekana/wiki-search"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>Code</a
					>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 pt-4">
			<div class="card bg-dark text-center">
				<img
					src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1632912161/portfolio/Screenshot_2021-09-29_at_12-40-49_Door_Automation_Company_tnjfkl.png"
					class="card-img-top"
					alt=""
				/>
				<div class="card-body">
					<h3 class="card-title">Door Automation Company Sample</h3>
					<p class="card-text">
						A sample site for a door automation company I made using
						Node, JavaScript, EJS, and Bootstrap
					</p>
					<a
						href="https://door-automation.vercel.app/"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>View</a
					>
					<a
						href="https://github.com/ItumelengKekana/mountech-automation"
						class="btn btn-dark btn-md"
						target="_blank"
						rel="noreferrer"
						>Code</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
