<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/nav.css" />
<link rel="stylesheet" href="/stylesheets/home.css" />

<div class="container-fluid py-5">
  <h2 class="display-2 text-center py-2">Skills</h2>
  <div class="row">
    <div class="col-md-6 mt-3">
      <ul class="list-unstyled skill-list">
        <li class="text-center">C++</li>
        <li class="text-center">SQL</li>
        <li class="text-center">PL/SQL</li>
        <li class="text-center">HTML</li>
        <li class="text-center">CSS</li>
        <li class="text-center">NodeJS</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled skill-list pt-3">
        <li class="text-center">JavaScript</li>
        <li class="text-center">Express</li>
        <li class="text-center">Git</li>
        <li class="text-center">MongoDb</li>
        <li class="text-center">Bootstrap</li>
      </ul>
    </div>
  </div>
  <h2 class="display-2 text-center py-2">Projects</h2>
  <div class="row">
    <div class="col-md-4 pt-4">
      <div class="text-center">
        <h3 class="">Portfolio</h3>
        <p>I made this portfolio using my knowledge of Javascript and Node</p>
        <a
          href="https://github.com/ItumelengKekana/ItumelengKekana.github.io"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
    <div class="col-md-4 pt-4">
      <div class="text-center">
        <h3 class="">Pricing Panel</h3>
        <p>A pricing panel commonly found on subscription pages.<br/>I made this while learning about CSS transitions and psuedo classes</p>
        <a
          href="https://itumelengkekana.github.io/pricing-panel/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/pricing-panel"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
    <div class="col-md-4 pt-4">
      <div class="text-center">
        <h3 class="">Candy Museum</h3>
        <p>A static HTML page I used to explore flex box<br/>and how to style a navbar in CSS</p>
        <a
          href="https://itumelengkekana.github.io/candy-museum/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/candy-museum"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 pt-4">
      <div class="text-center">
        <h3 class="">Yelp Camp</h3>
        <p>A full-stack app using Node and express to search<br/>for campgrounds around the world and create your own</p>
        <a
          href="https://intense-thicket-68814.herokuapp.com/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/yelp-camp"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
    <div class="col-md-4 pt-4">
      <div class="text-center">
        <h3 class="">Movie-inator</h3>
        <p>A small React app using the omdb API to<br/>search for movies and series from the IMDB database </p>
        <a
          href="https://movie-inator.herokuapp.com/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/movie-find"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
    <div class="col-md-4 pt-4">
      <div class="text-center">
        <h3 class="">Wiki Seeker</h3>
        <p>A small React app using the Wikipedia API to search the wikipedia site</p>
        <a
          href="https://wiki-seeker.herokuapp.com/"
          class="btn btn-dark btn-md"
          target="_blank"
          >View</a
        >
        <a
          href="https://github.com/ItumelengKekana/wiki-search"
          class="btn btn-dark btn-md"
          target="_blank"
          >Code</a
        >
      </div>
    </div>
  </div>
</div>
